body {
    font-size: 12px;
    font-family: Helvetica;
    text-align: center;
    background-color: #2A2A2A;
    margin: 0;
    padding: 0;
}

/* Base Table Styling */
#tftitemstable-container {
    text-align: center;
}

#tftitemstable {
    display: inline-block;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    z-index: 1;
    margin: 20px;
}

#tftitemstable td {
    padding: 0;
    margin: 0;
    width:1%;
    position:relative;
    background-color: #AFAFAF;
}

#tftitemstable td:first-child {
    width:.00001%;
}

#tftitemstable tr:first-child td:first-child {
    visibility:hidden;
}

/* All Item Styling */
#tftitemstable .item {
    display: table;
}

#tftitemstable .name {
    display: none;
}

#tftitemstable .image {
    display:table-cell;
    vertical-align: middle;
    padding:0;
    width:0;
}

#tftitemstable img {
    display: block;
}

#tftitemstable .stats,
#tftitemstable .base-item .golden-spatula,
#tftitemstable .combined-item .short-description
{
    /* display: table-cell;
    list-style:none;
    padding:0px 5px;
    margin:0;
    vertical-align: middle; */
    
    display: block;
    position: absolute;
    width: 60%;
    left: 50px;
    bottom: 5px;
    background-color: rgba(255,255,255,.9);
    color: black;
    font-weight: bold;
    padding: 2px 5px;
    margin: 0px;
}

#tftitemstable td.duplicate-item {
    display:none;
}

/* Base Item Styling */
#tftitemstable td.base-item {
    /* background-color: #AFAFAF; */
}

#tftitemstable td:first-child.base-item .stats,
#tftitemstable td:first-child.base-item .golden-spatula {
    display: none;
}

/* Combined Item Styling */
#tftitemstable td.combined-item {
    /* background-color:#AFAFAF; */
    height: 90px;
}

#tftitemstable .combined-item .stats {
    display: none;
}

/* #tftitemstable .combined-item .short-description, {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 5px;

    position: absolute;
    width: 80%;
    left: 10px;
    top: 10px;
    display: block;
    background-color: rgba(255,255,255,.9);
    color: black;
    font-weight: bold;
    padding: 5px;
} */

/* Filter Bar */
#tftitems-filter-container {
    text-align: left;
    width: 100%;
    background-color: #99f;
    padding: 5px 20px;
}

.tftitems-filter-item {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    padding: 7px 10px;
    font-size: 16px;
}

.tftitems-filter-item input {
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    top: 2px;
}

/* Unique States */
#tftitemstable .is-hide-col {
    display:none;
}

#tftitemstable .is-hide-row {
    display:none;
}

@media all and (max-width: 1600px) {
    #tftitemstable {
        margin: 0;
    }

    #tftitemstable .stats,
    #tftitemstable .base-item .golden-spatula,
    #tftitemstable .combined-item .short-description {
        left: 10px;
        width: 80%;
        background: rgba(255,255,255,.8)
    }
}

@media all and (max-width: 1280px) {
    #tftitemstable .stats,
    #tftitemstable .base-item .golden-spatula,
    #tftitemstable .combined-item .short-description {
        font-size:10px;
        left: 5px;
    }

    #tftitemstable td.combined-item {
        /* height: auto; */
    }
}

@media all and (max-width: 980px) {
}

/* @media all and (max-width: 736px) { ... } */
/* @media all and (max-width: 480px) { ... } */