/* 
background: #152021
accent yellow 1: #F1DC96
accent yellow 2: #A69255
accent yellow 3: #53472B
accent yellow 4: #3B3126
accent blue 1: #C0F1D8
accent blue 2: #527674
accent blue 3: #31525A
*/

body {
    font-size: 12px;
    font-family: Helvetica;
    text-align: center;
    background: rgb(15,33,33);
    margin: 0;
    padding: 0;
}

/* Base Table Styling */
.tfti {
    position: relative;
}

.tfti-table {
    display: inline-block;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    z-index: 1;
    margin: 0px 20px;
}

.all-item {
    padding: 0;
    margin: 0;
    width: 1%;
    position: relative;
    vertical-align: top;
}

.tfti-table .first-col {
    width:.00001%;
}

.tfti-table .first-col.first-row {
    visibility:hidden;
}

/* All Item Styling */
.all-item .tfti-item {
    display: table;
    width: 100%;
}

.all-item .tfti-item-image {
    display: table-cell;
}

.all-item .tfti-item-image-img {
    display: block;
}

.all-item .tfti-item-text {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    background-color: #EFEFEF;
    padding: 2px 5px;
    margin: 0px;
}

.all-item .tfti-item-text-name {
    display: none;
    margin:0;
    padding:0;
}

.all-item .tfti-item-text-short-description {
    margin:0;
    padding:0;
}

.all-item .tfti-item-text-description {
    margin:0;
    padding:0;
}

.all-item .tfti-item-text-stats {
    list-style:none;
    margin:0;
    padding:0;
}

/* Base Item Styling */
.base-item.first-col {
    padding-right: 5px;
}

.base-item.first-row {
    padding-bottom: 5px;
}

.base-item.first-col .tfti-item-text {
    display: none;
}

.base-item .tfti-item-image {
    border-left: 1px solid #F5DD95;
    border-top: 1px solid #F5DD95;
    border-right: 1px solid #AE914B;
    border-bottom: 1px solid #AE914B;
}

/* Combined Item Styling */
.combined-item .tfti-item-text-stats {
    display: none;
}

.combined-item .tfti-item-image {
    border-left: 1px solid #AFAFAF;
    border-top: 1px solid #AFAFAF;
    border-right: 1px solid #5F5f5f;
    border-bottom: 1px solid #5f5f5f;
}

.combined-item .tfti-item-text-description {
    display: none;
}

/* Filter Bar */
.filter {
    text-align: left;
    padding: 10px 30px;
}

.filter-item {
    display: inline-block;
    background-color: #17535B;
    opacity: 1;
    color: #C0F1D8;
    border-left: 2px solid #F5DD95;
    border-top: 2px solid #F5DD95;
    border-right: 2px solid #AE914B;
    border-bottom: 2px solid #AE914B;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16px;
}

.filter-item-input {
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    top: 2px;
}

/* Unique States */
.tfti-table .is-hide-col {
    display:none;
}

.tfti-table .is-hide-row {
    display:none;
}

.all-item {
    opacity: 1;
    transition: all 0.3s ease;
}

.all-item.dimmed {
    opacity: .1;
}

.tfti-table.icons-only .all-item .tfti-item-text {
    display: none;
}

.tfti-table.icons-only .all-item .tfti-item {
    display: block;
}

.tfti-table.icons-only .all-item.is-hover-select .tfti-item-text {
    opacity: 0;
    transition: all 0.3s ease;
    display: block;
    position: absolute;
    width: 240px;
    top: 0px;
    bottom: auto;
    left: 80px;
    margin-left: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
}

.tfti-table.icons-only .all-item.is-hover-select .tfti-item-text-name {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.tfti-table.icons-only .all-item.is-hover-select .tfti-item-text-short-description {
    display: none;
}

.tfti-table.icons-only .all-item.is-hover-select .tfti-item-text-description {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}

.tfti-table.icons-only .all-item.is-hover-select .tfti-item-text-stats {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    color: #5f5f5f;
}

.tfti-table.icons-only .all-item.is-hover-select .tfti-item-text.is-float-text {
    opacity: 1;
    left: 64px;
}

.tfti-table.icons-only {
    position: relative;
    table-layout: auto;
}

.tfti-table.icons-only .all-item {
    width: auto;
    height: auto;
}



@media all and (max-width: 1600px) {
    .tfti-table {
        margin: 0px 10px;
    }

    .tfti-table .tfti-item {
        width: initial;
    }

    .all-item .tfti-item-text {
        display: block;
        position: absolute;
        left: 5px;
        bottom: 5px;
        width: 85%;
        font-size: 11px;
        font-weight: bold;
        padding: 1px 3px;
        margin: 0px;
    }
}

@media all and (max-width: 1280px) {
    .all-item .tfti-item-text {
        font-size:10px;
    }

    .all-item .tfti-item-image-img {
        width: 54px;
    }

    .filter {
        font-size: 12px;
    }

    .tfti-table.icons-only .all-item.is-hover-select .tfti-item-text.is-float-text {
        left: 54px;
    }
}

@media all and (max-width: 980px) {
}

/* @media all and (max-width: 736px) { ... } */
/* @media all and (max-width: 480px) { ... } */